.headd {
  width: 100%;

  z-index: 15;
  position: fixed;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}


.fr {
  float: right;
}

.fl {
  float: left;
}

.container-a a {
  display: inline-block;
  width: 100px;
  line-height: 40px;
  text-align: center;
}

.txt {
  border: 1px solid #000;
  transition: .3s;
}

.logo img {
  display: inline-block;
}

.logo {
  height: 40px;
  position: relative;
}

.logo img:nth-child(2) {
  position: absolute;
  top: calc(50% - 9px);
  left: 90px;
}

.txt:hover {
  background: #000;
  color: #fff
}

.hr {
  width: 90%;
  height: 1px;
  background: #e5e5e5;
  margin: 0 auto;
}